<div class="container text-center">
  <% for (let i = 0; i < viewData.length; i += 2) { %>
    <div class="row">
      <div class="col-12 col-md-6">
        <img class="firstImage" src="<%= viewData[i].imageUrl %>" alt="<%= viewData[i].title %>">
        <div class="carpentryText"><%= viewData[i].description %></div>
      </div>
      <% if (viewData[i + 1]) { %>
        <div class="col-12 col-md-6">
          <img class="firstImage" src="<%= viewData[i + 1].imageUrl %>" alt="<%= viewData[i + 1].title %>">
          <div class="carpentryText"><%= viewData[i + 1].description %></div>
        </div>
      <% } %>
    </div>
  <% } %>
</div>