<div class="container">
  <div class="row text-md-start text-center">
    <div class="col-md-8">
      <h1 class="textStyle">Novaflex</h1>
      <div class="textStyle kitchenDiv"><%= viewData.kitchenInfo %></div>
        <div class="textStyle">För att få reda på mer om Novaflex kök besök <a class="pageLink" href="https://www.novaflex.se/kok/">Novaflex.</a></div>
      </div>
    </div>
    <div class="col-4"></div>
  </div>
  <div class="container text-center">
    <% for (let i = 0; i < viewData.kitchenGallery.length; i += 2) { %>
      <div class="row">
        <div class="col-md-6">
          <img class="firstImage img-fluid" src="<%= viewData.kitchenGallery[i].imageUrl %>" alt="<%= viewData.kitchenGallery[i].title %>">
          <div class="carpentryText"><%= viewData.kitchenGallery[i].description %></div>
        </div>
        <% if (viewData.kitchenGallery[i + 1]) { %>
          <div class="col-md-6">
            <img class="firstImage img-fluid" src="<%= viewData.kitchenGallery[i + 1].imageUrl %>" alt="<%= viewData.kitchenGallery[i + 1].title %>">
            <div class="carpentryText"><%= viewData.kitchenGallery[i + 1].description %></div>
          </div>
        <% } %>
      </div>
    <% } %>
  </div>
</div>